/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
  font-size: 62.5;
  font-family: 'Medula One', cursive;
}

body {
  background-color: black;
}
#banner {
  display: flex;
  flex-direction: column;  
  background-image: url('https://i.imgur.com/1DWvF76.png'), url('https://i.imgur.com/ZnqdqBW.png');
  background-position: right top, left;
  background-repeat: no-repeat, repeat;
  background-size: 15% 100%, contain;
  background-color: rgb(63, 62, 62);  
}

h1 {
  margin: 0 0 0 1%;
  font-size: 4rem;
  color: white;
}

#nav-details {
  display: flex;
  flex-direction: column;
}

#nav-ul {
  display: flex;
  list-style: none;
}
.nav-li{
  margin-left: 5%;
  width: 10%;
  flex: 0 0 auto;
}
.nav-li > a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
.nav-li > a:hover {
  color: lightseagreen;
}

#secBody {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 77vh;
  margin-left: 5%;
  /* flex-flow: row wrap;
  justify-content: space-evenly;
  flex-basis: 20px; */
  background-color: rgba(240,221,189);
  border: 1px solid green;
}

#secBodyLeft {
  width: 50%;
  height: 100%;
 
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);  
  
}

.full-image {
  width: 100%;
  height: 100%;
}

#monster-img {
  width: 100%;
  height: 100%;
}
/* 
.thumb-bar {
  width: 100%;
  height: 30%;
  border: 1px solid red;
}

.secBodyLeftDiv1H4 {
  margin: 0% 0% 5% 20%;
  font-family: 'Libre Baskerville', serif;
  font-size: 2rem ;
  align-items: center;
}
 */
#secBodyRight {
  width: 50%;
  height: 100%;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#enemy-stats {
  text-align: center;
  border: 1px solid brown;
}
.columns {
  font-size: 1.5rem;
  padding-left: 10%;
  width: 60%;
  height: 40%;
}

#name, #locations, #drops {
  padding-left: 10%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
